
.Container {
    max-width: 1400px !important;
    margin: 0 auto;
}

.Form-Wrapper {
    display: flex;
    flex: 1;
    flex-direction: row;
  }
  
  .Form {
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
    padding: 8px;
    background-color: #fff;
    display: flex;
    flex: 0.66;
    justify-content: center;
    flex-direction: column;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
  }
  
  .Form-Title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  .Form-Title > h1 {
    margin-bottom: 0;
  }
  
  .Form-Title > p {
    margin: 0;
    padding-top: 8px;
    color: #6c757d;
    font-size: .8rem;
  }
  
  .Form-Input-Wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 8px;
    padding-left: 15px;
    padding-right: 15px;
    align-self: center;
    width: 65%;
  }
  
  .Form-Input {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  
  .Form-Input-Title {
    padding: 4px;
    color: #212529;
  }
  
  .Form-Input-Subtitle {
    padding: 4px;
    color: #6c757d;
    font-size: .8rem;
  }
  
  .Form-Footer {
    padding-top: 8px;
    padding-bottom: 16px;
    text-align: center;
  }
  
  .Terms-Wrapper {
    padding-top: 8px;
    text-align: center;
    font-size: .8rem;
    text-decoration: none;
  }
  
  .Terms-Wrapper > a {
    text-decoration: none;
  }
  
  .Form-Submit-Wrapper {
    background-color: transparent;
    margin-top: 16px;
    padding-left: 16px;
    width: 66%;
    display: flex;
    flex-direction: row;
    align-items: center;
  
  }
  
  .Form-Submit-Button {
    background-color: #2b4e7b!important;
    border-color: #26446b!important;
    color: #fff;
    border: 0;
    cursor: pointer;
    border-radius: 0.25rem;
    padding: 16px 24px;
    margin-right: 16px;
    width: inherit;
    text-decoration: none;
    text-align: center;
  }
  .Form-Submit-Button > span {
    font-size: large;
  }
  .Form-Submit-Button:hover {
    background-color: #3865a0!important;
    border-color: #3865a0!important;
  }

  .Form-Info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
    text-align: center;
    margin-top: 16px;
    flex: 0.33;
  }
  .Main-Info:first-child {
    border-bottom: 0;
  }

  .Main-Info {
    padding: 16px 8px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
  }
  .Main-Info > h3 {
    margin-top: 6px;
    margin-bottom: 6px;
  }
  .Main-Info > p {
    margin-top: 6px;
    margin-bottom: 6px;
  }
  .Main-Info > a {
    text-decoration: none;
    font-size: small;
}

  .Secure-Site {
    padding: 16px 8px;
    background-color: #fcfcfc !important;
    color: #005600;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    border-top: 0;
  }
  .Secure-Site > span {
    padding-left: 4px;
  }

  .Protect-Wrapper {
    margin-top: 16px;
    padding: 16px 8px;
    background-color: #fcfcfc !important;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
}
.Protect-Wrapper > span {
    padding-left: 4px;
  }
.Protect-Wrapper > a {
    text-decoration: none;
    font-size: small;
  }

  .Protect-Wrapper-Title > span {
    padding-left: 4px;
  }

  .Protect-Wrapper-Title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 8px;
  }

  .Input-Wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin-top: 4px;
  }


  .Input-Wrapper > input {
    padding: 8px 15px 8px 12px;
    font-size: 1rem;
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    width: 100%;
  }

  .Input-Icon {
    position: absolute;
    right: 12px;
  }

  .Input-Payment {
    padding-left: 40px !important;
  }

  .Input-Payment-Icon {
    height: 90%;
    position: absolute;
    left: 2px;
    background-color: #e9ecef;
    color: #495057;
    border-radius: 0.25rem;    
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .Input-Payment-Icon > svg {
    padding: 6px 12px;
  }

  .Input-Success {
    border: 1px solid green !important;
  }

  .Input-Error {
    border: 1px solid red !important;
  }

  .Input-Error-Message {
    margin-top: 4px;
    font-size: smaller;
    color: red;
  }